<div class="detalles">
    <div class="det1">
        <h2>Alumnos</h2>
        <p>Rinaldi,Stefania</p>
        <p>Lopez, Diego</p>
        <p>Delfino,Julieta</p>
        <p>Verba, Alexis</p>
        <p>Pinaud, Cintia</p>
    </div>
    <div class="det2">
        <h2>Escaná e ingresá desde tu móvil</h2>
        <img src="/img/qr.png" />
    </div>
</div>
<div>
    <a class="nav-link text-dark volver" asp-area="" asp-controller="BlobStorage" asp-action="Index">Volver</a>
</div>